# Acquire and Prepare for Wrangling Data

In [1]:
# Wrangling
import pandas as pd
import numpy as np
import os

# Custom module
import util

# Pre-processing Data
from sklearn.model_selection import train_test_split
import sklearn.preprocessing

# Acquire

In [2]:
# Read csv file into pandas DataFrame.
file = "/Users/ultimate/codeup-data-science/pet_projects/2017-2018 FNDDS At A Glance - FNDDS Nutrient Values.xlsx"
df = pd.read_excel(file)
df

,FNDDS Nutrient Values\n2017-2018 Food and Nutrient Database for Dietary Studies - At A Glance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,Food code,Main food description,WWEIA Category number,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),...,20:1\n(g),22:1\n(g),18:2\n(g),18:3\n(g),18:4\n(g),20:4\n(g),20:5 n-3\n(g),22:5 n-3\n(g),22:6 n-3\n(g),Water\n(g)
1,11000000,"Milk, human",9602,Human milk,70,1.03,6.89,6.89,0,4.38,...,0.04,0,0.374,0.052,0,0.026,0,0,0,87.5
2,11100000,"Milk, NFS",1004,"Milk, reduced fat",51,3.34,4.87,4.89,0,1.99,...,0.002,0,0.069,0.007,0,0.003,0,0.001,0,89.04
3,11111000,"Milk, whole",1002,"Milk, whole",60,3.28,4.67,4.81,0,3.2,...,0.004,0,0.115,0.012,0,0.004,0.001,0.002,0,88.1
4,11111100,"Milk, low sodium, whole",1002,"Milk, whole",61,3.1,4.46,4.46,0,3.46,...,0,0,0.078,0.05,0,0,0,0,0,88.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7079,99997802,Tomatoes as ingredient in omelet,9999,Not included in a food category,25,1.11,5.48,3.42,1.6,0.23,...,0,0,0.089,0.004,0,0,0,0,0,92.57
7080,99997804,Other vegetables as ingredient in omelet,9999,Not included in a food category,29,3.46,4.81,2.73,1.4,0.38,...,0,0,0.174,0.001,0,0,0,0,0,90.37
7081,99997810,Vegetables as ingredient in curry,9999,Not included in a food category,52,1.81,11.6,3.25,2.2,0.19,...,0,0,0.052,0.012,0,0,0,0,0,85.59
7082,99998130,Sauce as ingredient in hamburgers,9999,Not included in a food category,271,1.34,17.14,13.08,0.6,22.85,...,0.106,0.133,11.81,1.682,0,0.015,0,0,0.002,55.97
7083,99998210,Industrial oil as ingredient in food,9999,Not included in a food category,892,0,0,0,0,100,...,0.322,0.024,30.114,1.698,0,0,0,0,0,0

In [3]:
def first_row_to_col_header(df):

    # Assign row as column headers
    df.columns = df.iloc[0]

    # Using DataFrame.rename()
    df1 = df.rename(columns=df.iloc[1])

    # Convert row to header and remove the row
    df1 = df.rename(columns=df.iloc[0]).loc[1:]

    # Using DataFrame.rename() to convert row to column header
    df.rename(columns=df.iloc[1], inplace = True)

    # Using DataFrame.values[]
    header_row = df.iloc[0]
    df1 = pd.DataFrame(df.values[1:], columns=header_row)
    return df1

In [4]:
df = first_row_to_col_header(df)

# Prepare

In [5]:
df.describe()

,Food code,Main food description,WWEIA Category number,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),...,20:1\n(g),22:1\n(g),18:2\n(g),18:3\n(g),18:4\n(g),20:4\n(g),20:5 n-3\n(g),22:5 n-3\n(g),22:6 n-3\n(g),Water\n(g)
count,7083,7083,7083,7083,7083,7083.0,7083.0,7083.0,7083.0,7083.0,...,7083.0,7083.0,7083.0,7083.0,7083.0,7083.0,7083.0,7083.0,7083.0,7083.0
unique,7083,7083,167,167,608,2107.0,3113.0,1788.0,160.0,2100.0,...,339.0,129.0,2869.0,824.0,106.0,198.0,235.0,132.0,280.0,3884.0
top,11000000,"Milk, human",2402,Fish,66,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
freq,1,1,340,340,101,202.0,430.0,663.0,1642.0,228.0,...,1794.0,5377.0,306.0,498.0,6176.0,3025.0,4890.0,4505.0,4914.0,25.0

In [6]:
util.metrics(df)

There are 7083 rows and 69 columns in this dataframe.
Plus the following nulls:
0
Food code                     0
Main food description         0
WWEIA Category number         0
WWEIA Category description    0
Energy (kcal)                 0
                             ..
20:4\n(g)                     0
20:5 n-3\n(g)                 0
22:5 n-3\n(g)                 0
22:6 n-3\n(g)                 0
Water\n(g)                    0
Length: 69, dtype: int64
0
Food code                     object
Main food description         object
WWEIA Category number         object
WWEIA Category description    object
Energy (kcal)                 object
                               ...
20:4\n(g)                     object
20:5 n-3\n(g)                 object
22:5 n-3\n(g)                 object
22:6 n-3\n(g)                 object
Water\n(g)                    object
Length: 69, dtype: object

                             count  unique          top    freq
0
Food code                     7083    7083     11000000       1
Main food description         7083    7083  Milk, human       1
WWEIA Category number         7083     167         2402     340
WWEIA Category description    7083     167         Fish     340
Energy (kcal)                 7083     608           66     101
...                            ...     ...          ...     ...
20:4\n(g)                   7083.0   198.0          0.0  3025.0
20:5 n-3\n(g)               7083.0   235.0          0.0  4890.0
22:5 n-3\n(g)               7083.0   132.0          0.0  4505.0
22:6 n-3\n(g)               7083.0   280.0          0.0  4914.0
Water\n(g)                  7083.0  3884.0          2.5    25.0

[69 rows x 4 columns]

In [7]:
util.get_numbers(df)

Food code
11000000    1
58146333    1
58146372    1
58146371    1
58146363    1
           ..
27540147    1
27540146    1
27540145    1
27540139    1
99998210    1
Name: Food code, Length: 7083, dtype: int64
-----------------
Main food description
Milk, human                                                                  1
Pasta with tomato-based sauce, meat, and added vegetables, ready-to-heat     1
Pasta with tomato-based sauce, seafood, and added vegetables, home recipe    1
Pasta with tomato-based sauce, seafood, and added vegetables, restaurant     1
Pasta with tomato-based sauce and seafood, ready-to-heat                     1
                                                                            ..
Chicken fillet sandwich, fried, from fast food, with cheese                  1
Chicken fillet sandwich, fried, from fast food                               1
Chicken fillet biscuit, from fast food                                       1
Chicken fillet sandwich, from school cafeteria                               1
Industrial oil as ingredient in food                                         1
Name: Main food description, Length: 7083, dtype: int64
-----------------
WWEIA Category number
2402    340
3002    299
3802    228
5502    186
3204    182
       ...
6006      1
9204      1
7704      1
7702      1
9602      1
Name: WWEIA Category number, Length: 167, dtype: int64
-----------------
WWEIA Category description
Fish                                                340
Meat mixed dishes                                   299
Soups                                               228
Cakes and pies                                      186
Pasta mixed dishes, excludes macaroni and cheese    182
                                                   ...
Grapes                                                1
Baby water                                            1
Bottled water                                         1
Tap water                                             1
Human milk                                            1
Name: WWEIA Category description, Length: 167, dtype: int64
-----------------
Energy (kcal)
66     101
65      68
67      52
50      42
164     41
      ...
591      1
520      1
650      1
624      1
892      1
Name: Energy (kcal), Length: 608, dtype: int64
-----------------
Protein (g)
0.00     202
0.10      35
0.20      29
0.30      29
1.40      29
        ...
21.60      1
7.61       1
24.73      1
9.13       1
18.11      1
Name: Protein (g), Length: 2107, dtype: int64
-----------------
Carbohydrate (g)
0.00     430
0.10      88
12.51     36
13.10     30
9.85      30
        ...
6.37       1
38.83      1
36.47      1
6.68       1
5.48       1
Name: Carbohydrate (g), Length: 3113, dtype: int64
-----------------
Sugars, total
(g)
0.00     663
0.04     113
0.88      68
1.10      60
1.15      35
        ...
8.35       1
25.93      1
36.51      1
19.09      1
4.94       1
Name: Sugars, total\n(g), Length: 1788, dtype: int64
-----------------
Fiber, total dietary (g)
0.0     1642
0.6      312
1.2      209
1.0      201
0.2      200
        ...
19.0       1
17.9       1
14.2       1
17.3       1
18.2       1
Name: Fiber, total dietary (g), Length: 160, dtype: int64
-----------------
Total Fat (g)
0.00     228
0.10      77
0.20      51
0.30      32
3.49      31
        ...
17.84      1
16.08      1
10.28      1
9.79       1
22.85      1
Name: Total Fat (g), Length: 2100, dtype: int64
-----------------
Fatty acids, total saturated (g)
0.000     322
0.002      40
0.400      19
0.009      18
0.014      18
         ...
2.776       1
2.983       1
3.114       1
0.942       1
32.672      1
Name: Fatty acids, total saturated (g), Length: 3474, dtype: int64
-----------------
Fatty acids, total monounsaturated (g)
0.000     336
0.008      35
0.002      34
0.014      24
0.005      24
         ...
6.821       1
4.543       1
5.977       1
12.157      1
31.097      1
Name: Fatty acids, total monounsaturated (g), Length: 3623, dtype: int64
-----------------
Fatty acids, total polyunsaturated (g)
0.000     300
0.803      21
0.030      19
0.050      19
0.044      19
         ...
2.254       1
4.320       1
3.446       1
1.975       1
31.812      1
Name: Fatty acids, total polyunsaturated (g), Length: 3072, dtype: int64
-----------------
Cholesterol (mg)
0      2443
2       307
4       171
1       155
3       142
       ...
588       1
841       1
798       1
828       1
205       1
Name: Cholesterol (mg), Length: 274, dtype: int64
-----------------
Retinol (mcg)
0       2650
1        304
2        150
10       150
11       121
        ...
235        1
1495       1
651        1
430        1
261        1
Name: Retinol (mcg), Length: 374, dtype: int64
-----------------
Vitamin A, RAE (mcg_RAE)
0       1411
1        292
2        188
3        148
8        132
        ...
1741       1
168        1
286        1
325        1
372        1
Name: Vitamin A, RAE (mcg_RAE), Length: 496, dtype: int64
-----------------
Carotene, alpha (mcg)
0      5180
1       273
2       135
6        98
7        81
       ...
322       1
300       1
955       1
301       1
103       1
Name: Carotene, alpha (mcg), Length: 362, dtype: int64
-----------------
Carotene, beta (mcg)
0       2283
1        453
2        223
3        175
5        114
        ...
1273       1
625        1
187        1
255        1
464        1
Name: Carotene, beta (mcg), Length: 871, dtype: int64
-----------------
Cryptoxanthin, beta (mcg)
0      5011
1       658
2       248
3       101
7        95
       ...
112       1
89        1
134       1
101       1
501       1
Name: Cryptoxanthin, beta (mcg), Length: 121, dtype: int64
-----------------
Lycopene (mcg)
0       6033
1         32
3         15
2         12
130        9
        ...
689        1
302        1
5112       1
725        1
7237       1
Name: Lycopene (mcg), Length: 677, dtype: int64
-----------------
Lutein + zeaxanthin (mcg)
0       2235
2        217
1        205
3        112
4        101
        ...
442        1
956        1
360        1
772        1
9769       1
Name: Lutein + zeaxanthin (mcg), Length: 735, dtype: int64
-----------------
Thiamin (mg)
0.000    217
0.010     84
0.020     70
0.040     69
0.030     67
        ...
0.516      1
0.439      1
0.467      1
0.472      1
0.497      1
Name: Thiamin (mg), Length: 666, dtype: int64
-----------------
Riboflavin (mg)
0.000    169
0.058     80
0.020     59
0.060     52
0.030     48
        ...
0.471      1
0.479      1
0.394      1
0.553      1
0.996      1
Name: Riboflavin (mg), Length: 634, dtype: int64
-----------------
Niacin (mg)
0.000    165
0.647     30
0.003     28
0.693     21
0.100     21
        ...
3.039      1
1.988      1
2.182      1
1.017      1
3.678      1
Name: Niacin (mg), Length: 3317, dtype: int64
-----------------
Vitamin B-6 (mg)
0.000    267
0.040    122
0.039     87
0.050     69
0.020     66
        ...
0.794      1
0.768      1
1.718      1
0.612      1
1.414      1
Name: Vitamin B-6 (mg), Length: 712, dtype: int64
-----------------
Folic acid (mcg)
0      4234
10      169
7       135
8       102
13       98
       ...
319       1
267       1
349       1
663       1
302       1
Name: Folic acid (mcg), Length: 201, dtype: int64
-----------------
Folate, food (mcg)
0      642
6      307
9      304
10     295
8      288
      ...
88       1
321      1
569      1
126      1
289      1
Name: Folate, food (mcg), Length: 178, dtype: int64
-----------------
Folate, DFE (mcg_DFE)
0       422
2       231
6       210
1       207
9       196
       ...
613       1
226       1
1131      1
1090      1
193       1
Name: Folate, DFE (mcg_DFE), Length: 320, dtype: int64
-----------------
Folate, total (mcg)
0      423
10     292
2      231
9      210
6      209
      ...
183      1
215      1
142      1
177      1
289      1
Name: Folate, total (mcg), Length: 260, dtype: int64
-----------------
Choline, total (mg)
0.0      190
15.4      79
14.6      64
15.7      56
15.1      54
        ...
71.8       1
69.6       1
127.4      1
109.5      1
312.9      1
Name: Choline, total (mg), Length: 1108, dtype: int64
-----------------
Vitamin B-12 (mcg)
0.00     2290
0.01      114
0.20      104
0.22       99
0.08       84
         ...
31.80       1
6.28        1
2.63        1
3.42        1
12.69       1
Name: Vitamin B-12 (mcg), Length: 453, dtype: int64
-----------------
Vitamin B-12, added
(mcg)
0.00     6621
0.20       54
0.22       28
0.18       24
0.29       18
         ...
6.65        1
18.80       1
7.36        1
1.58        1
3.40        1
Name: Vitamin B-12, added\n(mcg), Length: 141, dtype: int64
-----------------
Vitamin C (mg)
0.0     2347
0.1      313
0.5      227
0.2      213
0.3      143
        ...
63.6       1
62.5       1
35.1       1
57.1       1
42.7       1
Name: Vitamin C (mg), Length: 453, dtype: int64
-----------------
Vitamin D (D2 + D3) (mcg)
0.0     3675
0.1      723
0.2      487
0.3      281
1.0      239
        ...
13.1       1
11.4       1
7.3        1
19.6       1
20.7       1
Name: Vitamin D (D2 + D3) (mcg), Length: 134, dtype: int64
-----------------
Vitamin E (alpha-tocopherol) (mg)
0.00     382
0.02     107
0.04      87
0.01      84
0.30      84
        ...
4.59       1
7.60       1
4.17       1
5.84       1
10.50      1
Name: Vitamin E (alpha-tocopherol) (mg), Length: 511, dtype: int64
-----------------
Vitamin E, added
(mg)
0.00     6758
0.59       29
0.89       21
0.66       16
1.32       12
         ...
2.95        1
10.60       1
1.45        1
1.83        1
11.11       1
Name: Vitamin E, added\n(mg), Length: 115, dtype: int64
-----------------
Vitamin K (phylloquinone) (mcg)
0.0      737
0.1      255
0.2      207
0.3      153
0.8      111
        ...
458.7      1
605.6      1
621.3      1
468.6      1
155.8      1
Name: Vitamin K (phylloquinone) (mcg), Length: 630, dtype: int64
-----------------
Calcium (mg)
11     164
14     152
13     148
9      144
16     140
      ...
493      1
550      1
376      1
464      1
194      1
Name: Calcium (mg), Length: 407, dtype: int64
-----------------
Phosphorus (mg)
0      126
28      72
54      59
49      55
78      54
      ...
494      1
499      1
836      1
491      1
604      1
Name: Phosphorus (mg), Length: 517, dtype: int64
-----------------
Magnesium (mg)
21     262
23     248
18     240
14     237
20     234
      ...
252      1
108      1
267      1
148      1
376      1
Name: Magnesium (mg), Length: 219, dtype: int64
-----------------
Iron
(mg)
0.00     168
0.02     100
1.19      77
0.20      65
0.30      63
        ...
11.70      1
10.13      1
10.28      1
13.16      1
24.84      1
Name: Iron\n(mg), Length: 621, dtype: int64
-----------------
Zinc
(mg)
0.01    108
0.00     87
0.50     84
0.02     75
0.49     72
       ...
5.44      1
7.63      1
4.73      1
3.96      1
4.27      1
Name: Zinc\n(mg), Length: 559, dtype: int64
-----------------
Copper (mg)
0.000    116
0.068     89
0.058     86
0.079     84
0.080     81
        ...
1.725      1
1.604      1
0.964      1
0.967      1
0.346      1
Name: Copper (mg), Length: 595, dtype: int64
-----------------
Selenium (mcg)
0.0      253
0.4      188
0.1      178
0.6      157
0.3      142
        ...
44.1       1
42.1       1
89.0       1
169.8      1
67.5       1
Name: Selenium (mcg), Length: 539, dtype: int64
-----------------
Potassium (mg)
70     57
71     53
0      46
129    41
136    40
       ..
428     1
520     1
513     1
416     1
535     1
Name: Potassium (mg), Length: 670, dtype: int64
-----------------
Sodium (mg)
4      94
0      94
2      83
1      72
3      64
       ..
753     1
771     1
810     1
768     1
845     1
Name: Sodium (mg), Length: 1028, dtype: int64
-----------------
Caffeine (mg)
0       6590
1         67
2         66
3         36
4         28
5         27
6         25
7         20
12        16
9         16
11        15
10        14
8         11
33         9
14         9
36         9
20         8
13         8
25         8
35         7
26         7
30         7
34         6
31         5
18         5
32         5
15         5
40         5
37         4
19         4
16         4
29         3
21         2
22         2
17         2
27         2
23         2
38         2
104        1
56         1
52         1
43         1
5714       1
212        1
404        1
215        1
360        1
608        1
122        1
1571       1
3142       1
24         1
28         1
199        1
142        1
136        1
62         1
800        1
44         1
230        1
Name: Caffeine (mg), dtype: int64
-----------------
Theobromine (mg)
0      6708
15       14
17       12
22       11
1        10
       ...
77        1
26        1
90        1
186       1
608       1
Name: Theobromine (mg), Length: 151, dtype: int64
-----------------
Alcohol (g)
0.0     6982
8.3       19
8.5       13
33.4       7
4.0        4
8.1        4
8.2        3
24.6       2
7.7        2
7.8        2
10.6       1
32.4       1
12.6       1
8.4        1
14.4       1
10.4       1
13.8       1
5.9        1
14.5       1
8.6        1
3.1        1
10.3       1
11.4       1
9.6        1
16.1       1
15.3       1
6.4        1
9.1        1
8.9        1
6.2        1
10.1       1
10.0       1
28.6       1
28.1       1
7.9        1
6.0        1
7.5        1
29.8       1
21.7       1
3.9        1
18.2       1
0.3        1
13.0       1
17.8       1
7.4        1
31.0       1
29.0       1
23.9       1
5.0        1
23.7       1
0.2        1
20.2       1
3.3        1
32.5       1
7.6        1
Name: Alcohol (g), dtype: int64
-----------------
4:0
(g)
0.000    3975
0.001     360
0.002     205
0.003     105
0.006     103
         ...
0.316       1
0.552       1
0.333       1
0.241       1
0.596       1
Name: 4:0\n(g), Length: 390, dtype: int64
-----------------
6:0
(g)
0.000    4208
0.001     242
0.004     184
0.018     118
0.019      62
         ...
0.351       1
0.323       1
0.543       1
0.206       1
0.467       1
Name: 6:0\n(g), Length: 293, dtype: int64
-----------------
8:0
(g)
0.000    3516
0.001     398
0.003     235
0.002     233
0.010     149
         ...
0.164       1
0.205       1
0.824       1
1.409       1
0.302       1
Name: 8:0\n(g), Length: 319, dtype: int64
-----------------
10:0
(g)
0.000    2566
0.001     452
0.002     314
0.003     161
0.005     152
         ...
0.744       1
0.403       1
0.380       1
0.283       1
0.714       1
Name: 10:0\n(g), Length: 432, dtype: int64
-----------------
12:0
(g)
0.000     2060
0.001      475
0.002      348
0.003      217
0.004      209
          ...
0.652        1
17.649       1
8.442        1
1.782        1
0.802        1
Name: 12:0\n(g), Length: 569, dtype: int64
-----------------
14:0
(g)
0.000    934
0.001    274
0.002    169
0.007    135
0.004    130
        ...
2.040      1
1.391      1
1.545      1
1.253      1
2.685      1
Name: 14:0\n(g), Length: 986, dtype: int64
-----------------
16:0
(g)
0.000    326
0.001     35
0.016     25
0.002     21
0.010     21
        ...
2.747      1
2.734      1
2.742      1
2.825      1
8.407      1
Name: 16:0\n(g), Length: 2791, dtype: int64
-----------------
18:0
(g)
0.000     448
0.002      97
0.003      86
0.004      77
0.001      73
         ...
2.120       1
2.023       1
0.888       1
0.794       1
23.263      1
Name: 18:0\n(g), Length: 1825, dtype: int64
-----------------
16:1
(g)
0.000    840
0.001    237
0.002    200
0.003    142
0.014    121
        ...
0.734      1
0.393      1
0.364      1
0.731      1
0.407      1
Name: 16:1\n(g), Length: 704, dtype: int64
-----------------
18:1
(g)
0.000     366
0.005      32
0.004      32
0.006      30
0.008      28
         ...
16.875      1
12.366      1
23.945      1
15.867      1
30.664      1
Name: 18:1\n(g), Length: 3517, dtype: int64
-----------------
20:1
(g)
0.000    1794
0.008     268
0.004     203
0.002     190
0.001     160
         ...
0.370       1
0.377       1
0.315       1
2.673       1
0.322       1
Name: 20:1\n(g), Length: 339, dtype: int64
-----------------
22:1
(g)
0.000    5377
0.001     497
0.002     229
0.003     118
0.005      97
         ...
1.026       1
1.074       1
0.801       1
0.147       1
0.133       1
Name: 22:1\n(g), Length: 129, dtype: int64
-----------------
18:2
(g)
0.000     306
0.001      27
0.018      24
0.019      20
0.010      18
         ...
2.389       1
2.491       1
2.179       1
3.367       1
30.114      1
Name: 18:2\n(g), Length: 2869, dtype: int64
-----------------
18:3
(g)
0.000    498
0.003     70
0.004     70
0.006     65
0.011     63
        ...
1.097      1
6.615      1
9.080      1
1.166      1
1.698      1
Name: 18:3\n(g), Length: 824, dtype: int64
-----------------
18:4
(g)
0.000    6176
0.001     337
0.002     154
0.003      47
0.007      27
         ...
0.214       1
0.054       1
0.043       1
0.100       1
0.019       1
Name: 18:4\n(g), Length: 106, dtype: int64
-----------------
20:4
(g)
0.000    3025
0.003     232
0.001     210
0.004     208
0.002     188
         ...
0.246       1
0.310       1
0.230       1
0.241       1
0.131       1
Name: 20:4\n(g), Length: 198, dtype: int64
-----------------
20:5 n-3
(g)
0.000    4890
0.001     647
0.002     292
0.003     229
0.004     178
         ...
0.204       1
0.149       1
0.171       1
0.163       1
0.108       1
Name: 20:5 n-3\n(g), Length: 235, dtype: int64
-----------------
22:5 n-3
(g)
0.000    4505
0.001     471
0.002     338
0.003     257
0.004     181
         ...
0.171       1
0.069       1
0.047       1
0.156       1
0.120       1
Name: 22:5 n-3\n(g), Length: 132, dtype: int64
-----------------
22:6 n-3
(g)
0.000    4914
0.001     351
0.002     123
0.005     117
0.004     103
         ...
0.649       1
0.523       1
0.525       1
0.502       1
0.137       1
Name: 22:6 n-3\n(g), Length: 280, dtype: int64
-----------------
Water
(g)
2.50     25
3.00     23
0.00     18
87.10    17
59.13    14
         ..
62.65     1
6.29      1
9.79      1
5.83      1
55.97     1
Name: Water\n(g), Length: 3884, dtype: int64
-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7083 entries, 0 to 7082
Data columns (total 69 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Food code                               7083 non-null   object
 1   Main food description                   7083 non-null   object
 2   WWEIA Category number                   7083 non-null   object
 3   WWEIA Category description              7083 non-null   object
 4   Energy (kcal)                           7083 non-null   object
 5   Protein (g)                             7083 non-null   object
 6   Carbohydrate (g)                        7083 non-null   object
 7   Sugars, total
(g)                       7083 non-null   object
 8   Fiber, total dietary (g)                7083 non-null   object
 9   Total Fat (g)                           7083 non-null   object
 10  Fatty acids, total saturated (g)        7083 non-null   object
 11  Fatty acids, total monounsaturated (g)  7083 non-null   object
 12  Fatty acids, total polyunsaturated (g)  7083 non-null   object
 13  Cholesterol (mg)                        7083 non-null   object
 14  Retinol (mcg)                           7083 non-null   object
 15  Vitamin A, RAE (mcg_RAE)                7083 non-null   object
 16  Carotene, alpha (mcg)                   7083 non-null   object
 17  Carotene, beta (mcg)                    7083 non-null   object
 18  Cryptoxanthin, beta (mcg)               7083 non-null   object
 19  Lycopene (mcg)                          7083 non-null   object
 20  Lutein + zeaxanthin (mcg)               7083 non-null   object
 21  Thiamin (mg)                            7083 non-null   object
 22  Riboflavin (mg)                         7083 non-null   object
 23  Niacin (mg)                             7083 non-null   object
 24  Vitamin B-6 (mg)                        7083 non-null   object
 25  Folic acid (mcg)                        7083 non-null   object

In [8]:
list(df.columns.values.tolist())

['Food code',
 'Main food description',
 'WWEIA Category number',
 'WWEIA Category description',
 'Energy (kcal)',
 'Protein (g)',
 'Carbohydrate (g)',
 'Sugars, total\n(g)',
 'Fiber, total dietary (g)',
 'Total Fat (g)',
 'Fatty acids, total saturated (g)',
 'Fatty acids, total monounsaturated (g)',
 'Fatty acids, total polyunsaturated (g)',
 'Cholesterol (mg)',
 'Retinol (mcg)',
 'Vitamin A, RAE (mcg_RAE)',
 'Carotene, alpha (mcg)',
 'Carotene, beta (mcg)',
 'Cryptoxanthin, beta (mcg)',
 'Lycopene (mcg)',
 'Lutein + zeaxanthin (mcg)',
 'Thiamin (mg)',
 'Riboflavin (mg)',
 'Niacin (mg)',
 'Vitamin B-6 (mg)',
 'Folic acid (mcg)',
 'Folate, food (mcg)',
 'Folate, DFE (mcg_DFE)',
 'Folate, total (mcg)',
 'Choline, total (mg)',
 'Vitamin B-12 (mcg)',
 'Vitamin B-12, added\n(mcg)',
 'Vitamin C (mg)',
 'Vitamin D (D2 + D3) (mcg)',
 'Vitamin E (alpha-tocopherol) (mg)',
 'Vitamin E, added\n(mg)',
 'Vitamin K (phylloquinone) (mcg)',
 'Calcium (mg)',
 'Phosphorus (mg)',
 'Magnesium (mg)',
 'Iron\n(mg)',
 'Zinc\n(mg)',
 'Copper (mg)',
 'Selenium (mcg)',
 'Potassium (mg)',
 'Sodium (mg)',
 'Caffeine (mg)',
 'Theobromine (mg)',
 'Alcohol (g)',
 '4:0\n(g)',
 '6:0\n(g)',
 '8:0\n(g)',
 '10:0\n(g)',
 '12:0\n(g)',
 '14:0\n(g)',
 '16:0\n(g)',
 '18:0\n(g)',
 '16:1\n(g)',
 '18:1\n(g)',
 '20:1\n(g)',
 '22:1\n(g)',
 '18:2\n(g)',
 '18:3\n(g)',
 '18:4\n(g)',
 '20:4\n(g)',
 '20:5 n-3\n(g)',
 '22:5 n-3\n(g)',
 '22:6 n-3\n(g)',
 'Water\n(g)']

### Summary:
- No nulls detected in dataset

In [9]:
def drop_cols(df):
    '''
    Drops columns with unwanted variables for our purposes
    '''
    cols_to_drop = [ 'WWEIA Category number',
                     'Fatty acids, total saturated (g)',
                     'Fatty acids, total monounsaturated (g)',
                     'Fatty acids, total polyunsaturated (g)',
                     'Cholesterol (mg)',
                     'Retinol (mcg)',
                     'Vitamin A, RAE (mcg_RAE)',
                     'Carotene, alpha (mcg)',
                     'Carotene, beta (mcg)',
                     'Cryptoxanthin, beta (mcg)',
                     'Lycopene (mcg)',
                     'Lutein + zeaxanthin (mcg)',
                     'Thiamin (mg)',
                     'Riboflavin (mg)',
                     'Niacin (mg)',
                     'Vitamin B-6 (mg)',
                     'Folic acid (mcg)',
                     'Folate, food (mcg)',
                     'Folate, DFE (mcg_DFE)',
                     'Folate, total (mcg)',
                     'Choline, total (mg)',
                     'Vitamin B-12 (mcg)',
                     'Vitamin B-12, added\n(mcg)',
                     'Vitamin C (mg)',
                     'Vitamin D (D2 + D3) (mcg)',
                     'Vitamin E (alpha-tocopherol) (mg)',
                     'Vitamin E, added\n(mg)',
                     'Vitamin K (phylloquinone) (mcg)',
                     'Calcium (mg)',
                     'Phosphorus (mg)',
                     'Magnesium (mg)',
                     'Iron\n(mg)',
                     'Zinc\n(mg)',
                     'Copper (mg)',
                     'Selenium (mcg)',
                     'Potassium (mg)',
                     'Sodium (mg)',
                     'Caffeine (mg)',
                     'Theobromine (mg)',
                     'Alcohol (g)',
                     '4:0\n(g)',
                     '6:0\n(g)',
                     '8:0\n(g)',
                     '10:0\n(g)',
                     '12:0\n(g)',
                     '14:0\n(g)',
                     '16:0\n(g)',
                     '18:0\n(g)',
                     '16:1\n(g)',
                     '18:1\n(g)',
                     '20:1\n(g)',
                     '22:1\n(g)',
                     '18:2\n(g)',
                     '18:3\n(g)',
                     '18:4\n(g)',
                     '20:4\n(g)',
                     '20:5 n-3\n(g)',
                     '22:5 n-3\n(g)',
                     '22:6 n-3\n(g)']
    df = df.drop(columns=cols_to_drop, axis=1)
    return df

In [10]:
df = drop_cols(df)
df

,Food code,Main food description,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),Water\n(g)
0,11000000,"Milk, human",Human milk,70,1.03,6.89,6.89,0,4.38,87.5
1,11100000,"Milk, NFS","Milk, reduced fat",51,3.34,4.87,4.89,0,1.99,89.04
2,11111000,"Milk, whole","Milk, whole",60,3.28,4.67,4.81,0,3.2,88.1
3,11111100,"Milk, low sodium, whole","Milk, whole",61,3.1,4.46,4.46,0,3.46,88.2
4,11111150,"Milk, calcium fortified, whole","Milk, whole",60,3.28,4.67,4.81,0,3.2,88.1
...,...,...,...,...,...,...,...,...,...,...
7078,99997802,Tomatoes as ingredient in omelet,Not included in a food category,25,1.11,5.48,3.42,1.6,0.23,92.57
7079,99997804,Other vegetables as ingredient in omelet,Not included in a food category,29,3.46,4.81,2.73,1.4,0.38,90.37
7080,99997810,Vegetables as ingredient in curry,Not included in a food category,52,1.81,11.6,3.25,2.2,0.19,85.59
7081,99998130,Sauce as ingredient in hamburgers,Not included in a food category,271,1.34,17.14,13.08,0.6,22.85,55.97
7082,99998210,Industrial oil as ingredient in food,Not included in a food category,892,0,0,0,0,100,0

In [11]:
def object_to_int(df):
    '''
    Converts 'Energy (kcal)',
             'Protein (g)',
             'Carbohydrate (g)',
             'Sugars, total\n(g)',
             'Fiber, total dietary (g)',
             'Total Fat (g)',
             'Water\n(g)'
             from objects to integers
    '''
    
    df["Energy (kcal)"] = df["Energy (kcal)"].astype(int)
    df["Protein (g)"] = df["Protein (g)"].astype(int)
    df["Carbohydrate (g)"] = df["Carbohydrate (g)"].astype(int)
    df["Sugars, total\n(g)"] = df["Sugars, total\n(g)"].astype(int)
    df["Fiber, total dietary (g)"] = df["Fiber, total dietary (g)"].astype(int)
    df["Total Fat (g)'"] = df["Total Fat (g)"].astype(int)
    df["Water\n(g)"] = df["Water\n(g)"].astype(int)
    
    return df

In [12]:
# Converts numerical columns from object to integer type
object_to_int(df)

,Food code,Main food description,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),Water\n(g),Total Fat (g)'
0,11000000,"Milk, human",Human milk,70,1,6,6,0,4.38,87,4
1,11100000,"Milk, NFS","Milk, reduced fat",51,3,4,4,0,1.99,89,1
2,11111000,"Milk, whole","Milk, whole",60,3,4,4,0,3.2,88,3
3,11111100,"Milk, low sodium, whole","Milk, whole",61,3,4,4,0,3.46,88,3
4,11111150,"Milk, calcium fortified, whole","Milk, whole",60,3,4,4,0,3.2,88,3
...,...,...,...,...,...,...,...,...,...,...,...
7078,99997802,Tomatoes as ingredient in omelet,Not included in a food category,25,1,5,3,1,0.23,92,0
7079,99997804,Other vegetables as ingredient in omelet,Not included in a food category,29,3,4,2,1,0.38,90,0
7080,99997810,Vegetables as ingredient in curry,Not included in a food category,52,1,11,3,2,0.19,85,0
7081,99998130,Sauce as ingredient in hamburgers,Not included in a food category,271,1,17,13,0,22.85,55,22
7082,99998210,Industrial oil as ingredient in food,Not included in a food category,892,0,0,0,0,100,0,100

In [13]:
df.columns[3:]

Index(['Energy (kcal)', 'Protein (g)', 'Carbohydrate (g)',
       'Sugars, total\n(g)', 'Fiber, total dietary (g)', 'Total Fat (g)',
       'Water\n(g)', 'Total Fat (g)''],
      dtype='object', name=0)

Shows that desired columns' types were changed from object to int64

In [14]:
# Displays df information for columns, number of Non-Nulls, and Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7083 entries, 0 to 7082
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Food code                   7083 non-null   object
 1   Main food description       7083 non-null   object
 2   WWEIA Category description  7083 non-null   object
 3   Energy (kcal)               7083 non-null   int64
 4   Protein (g)                 7083 non-null   int64
 5   Carbohydrate (g)            7083 non-null   int64
 6   Sugars, total
(g)           7083 non-null   int64
 7   Fiber, total dietary (g)    7083 non-null   int64
 8   Total Fat (g)               7083 non-null   object
 9   Water
(g)                   7083 non-null   int64
 10  Total Fat (g)'              7083 non-null   int64
dtypes: int64(7), object(4)
memory usage: 608.8+ KB